[submodule "usdc-upgrade/lib/forge-std"]
	path = usdc-upgrade/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rug-pull-hw/lib/forge-std"]
	path = rug-pull-hw/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rug-pull-hw/lib/solmate"]
	path = rug-pull-hw/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "usdc-upgrade/lib/openzeppelin-contracts"]
	path = usdc-upgrade/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "erc721-compare/lib/forge-std"]
	path = erc721-compare/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc721-compare/lib/openzeppelin-contracts"]
	path = erc721-compare/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "erc721-compare/lib/ERC721A"]
	path = erc721-compare/lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
